div {
    border: 1px solid gray;
    padding: 10px;
    width: 90%;
    border-radius: 4px;
    margin-bottom: 20px;
}

div.color:hover {
    background: ghostwhite;
}
.block1{
    border: 0px solid;
    float: left;
}
.img {
    width: 50px;
    height: 40px;
    background-image: url('../images/es-and.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border: 0px solid;
    float: right;
}
a {
    text-decoration: none;
    border-bottom: 2px dashed deeppink;
    padding-bottom: 3px
}
.poem:hover{
    background: #00ff40;
    font-weight: bold;
    clear: both;

}
.pick_out {
    color: darkred;
    font-weight: bold;
}

table {
    background: ghostwhite;
    border: 1px solid grey;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid grey
}

table.feedback {
    background-color: #6f5499;
    color: white;
    border-radius: 6px;
    border: none;
}

table.feedback caption {
    text-align: left;
    padding: 5px;
}

table.feedback td,
table.feedback th {
    text-align: left;
    padding: 3px;
    border: none;
}

table.feedback th {
    border-bottom: 1px solid white;
    padding: 5px;
}


table.feedback td .done {
    text-decoration: line-through;
}