h1 {
    color: red;
    text-align: center;
}

ol {
    color: red;
}

i {
    color: blue;
}

p {
    color: blue
}

h2 {
    color: green
}


.lalala {
    border: 1px green solid;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
    width: 30%;
}

.lalala div {
    border: 1px blueviolet solid;
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}