* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background: url("../ukr-img/b3.jpg") center center no-repeat;
    background-size: cover;
    height: 90vh;

}

.wrapper .header {
    height: 80px;
    width: 100%;
    background-color: #ffab3e;
}

.wrapper .header .header-menu {
    position: relative;
}

.wrapper .header .header-menu span {
    display: inline-block;
    color: white;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 17px;
    letter-spacing: 3px;
}

.wrapper .header .header-menu .menu-button {
    margin-left: 700px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: -33px;
}

.wrapper .header .header-menu .menu-button li {
    display: inline;
    margin-left: 30px;
}

.wrapper .header .header-menu .icon {
    position: absolute;
    top: 20px;
    right: 150px;

}