* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row .row-1 {
    display: flex;
}

.row .row-1 .our-services {
    background: url("../ukr-img/s3.jpg") center no-repeat;
    background-size: cover;
    width: 50%;
    height: 350px;
}

.row .row-1 .our-services p, h3 {
    color: #ffab3e;
    margin: 30px 60px;
    font-size: 30px;
}

.row .row-1 .our-services h3 {
    color: white;
    font-size: 40px;
}

.row .row-1 .general-information-1 {
    background: url("../ukr-img/s1.jpg") center no-repeat;
    background-size: cover;
    width: 25%;
    height: 350px;
}

.row .row-1 .general-information-1 .title-about {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}

.row .row-1 .general-information-1 .title-about + span {
    color: black;
    display: block;
    font-size: 15px;
    margin: 30px;
}

.row .row-1 .general-information-2 {
    background-color: palevioletred;
    height: 350px;
    width: 25%;
}

.row .row-1 .general-information-2 .title-about {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}







.row .row-2 {
    width: 100%;
}
.row .row-2 .our-services-row-2 {
    position: relative;
    width: 50%;
}
.row .row-2 .our-services-row-2 .our-services-column {
    background: url("../ukr-img/s4.jpg") center no-repeat;
    height: 600px;
    width: 400px;
    position: absolute;
}

.row .row-2 .our-services-row-2 .our-services-column .title-about {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}

.row .row-2 .our-services-row-2 .our-services-column-1 {
    background: url("../ukr-img/s2.jpg") center no-repeat;
    height: 355px;
    width: 355px;
    position: absolute;
    left: 400px;
}

.row .row-2 .our-services-row-2 .our-services-column-1 .title-about + span {
    color: black;
    display: block;
    font-size: 15px;
    margin: 30px;
}

.row .row-2 .our-services-row-2 .our-services-column-1 .title-about {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}

.row .row-2 .our-services-row-2 .our-services-column-2 {
    background-color: palevioletred;
    height: 246px;
    width: 355px;
    position: absolute;
    left: 400px;
    top: 354px;
}

.row .row-2 .our-services-row-2 .our-services-column-2 .title-about {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}
.row .row-2 .our-services-row-3 {
    position: relative;
    width: 50%;
}
.row .row-2 .our-services-row-3 .our-services-column-3 {
    background: url("../ukr-img/s5.jpg");
    background-size: cover;
    height: 600px;
    width: 477px;
    position: absolute;
    left: 1428px;
}
.row .row-2 .our-services-row-3 .our-services-column-3 .title-about{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}
.row .row-2 .our-services-row-3 .our-services-column-4 {
    background-color: #56a246;
    height: 355px;
    width: 673px;
    position: absolute;
    left:  755px;
}
.row .row-2 .our-services-row-3 .our-services-column-4 .title-about{
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}
.row .row-2 .our-services-row-3 .our-services-column-5 {
    background: url(../ukr-img/s6.jpg) center no-repeat;
    background-size: cover;
    height: 325px;
    width: 675px;
    position: absolute;
    top: 275px;
    left: 755px;
}
.row .row-2 .our-services-row-3 .our-services-column-5 .title-about {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    margin: 30px;
}
.row .row-2 .our-services-row-3 .our-services-column-5 .title-about+span{
    color: black;
    display: block;
    font-size: 15px;
    margin: 30px;
}