* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 1px solid;
}

.what-special {
    width: 100%;
}
.what-special h2, p {
    color: #ffab3e;
    font-size: 30px;
    text-align: center;
    margin: 50px 0 50px;
}

.what-special p {
    color: black;
    font-size: 40px;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.what-special .gallery-of-fruits{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;

}
.what-special .gallery-of-fruits .column-fruits-1{
    background: url("../ukr-img/g1.jpg") center no-repeat;
    width: 30px;
    height: auto;
    background-size: cover;
}
.what-special .gallery-of-fruits .column-fruits-2{
    background: url("../ukr-img/g2.jpg") center no-repeat;
    width: 30%;
    height: auto;
    background-size: cover;
}
.what-special .gallery-of-fruits .column-fruits-3{
    background: url("../ukr-img/g3.jpg") center no-repeat;
    width: 30%;
    height: auto;
    background-size: cover;
}
.what-special .gallery-of-fruits .column-fruits-4{
    background: url("../ukr-img/g4.jpg") center no-repeat;
    width: 30%;
    height: auto;
    background-size: cover;
}
.what-special .gallery-of-fruits .column-fruits-5{
    background: url("../ukr-img/g5.jpg") center no-repeat;
    width: 30%;
    height: auto;
    background-size: cover;
}
.what-special .gallery-of-fruits .column-fruits-6{
    background: url("../ukr-img/g6.jpg") center no-repeat;
    width: 30%;
    height: auto;
    background-size: cover;
}