* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 1px solid;
}

.information-section {
    width: 100%;
    background-color: #e1e1e1;
}

.information-section .about-inform {
    width: 50%;
    margin: 0 auto;
}

.information-section .about-inform .title {
    font: 40px bold;
    padding-top: 70px;
    text-align: center;
}
.information-section .about-inform .inform{
    width: 70%;
    padding-top: 100px;
    font: 22px italic;
    font-family:"Fira Code Medium";
    text-align: center;
    color: #a2a2a2;
}
.information-section .about-inform img{
    padding-left: 82px;
    padding-top: 100px;
}
.information-section .about-inform p{
    text-align: center;
    padding-top: 10px;
}
.information-section .work-direction {
    background-color: white;
    width: 100%;
}
.information-section .work-direction .icon{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-content:center;

}
.information-section .work-direction .icon .icon-information{
    width: 30%;
    text-align: center;
}
.information-section .work-direction .icon .icon-information .picture-icon,.picture-icon-2,.picture-icon-3 {
    display: inline-block;
    width: 5em;
    height: 5em;
    background-color: #31c0a5;
    border: #3bc051 1px solid;
    border-radius: 50%;
    font-size: 25px;
    color: snow;

}
.picture-icon:before {
    content: '\2042';
}
.picture-icon-2:before{
    content: "\2739";
}
.picture-icon-3:before{
    content: "\2600";
}
