* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.information-section {
    width: 100%;
    background-color: #e1e1e1;
}

.information-section .about-inform {
    width: 50%;
    margin: 0 auto;
}

.information-section .about-inform .title {
    font: 40px bold;
    padding: 70px 10px;
    text-align: center;
}

.information-section .about-inform .inform {
    width: 70%;
    padding-top: 100px;
    font: 22px italic;
    font-family: "Fira Code Medium";
    text-align: center;
    color: #a2a2a2;
}

.information-section .about-inform img {
    display: block;
    margin: 0 auto;
}

.information-section .about-inform p {
    text-align: center;
    padding-top: 10px;
}

.information-section .work-direction {
    background-color: white;
    width: 100%;
}

.information-section .work-direction .icon {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-content: center;

}

.information-section .work-direction .icon .icon-information {
    width: 30%;
    text-align: center;
}

.information-section .work-direction .icon .icon-information .picture-icon, .picture-icon-2, .picture-icon-3 {
    display: inline-block;
    width: 8em;
    height: 8em;
    background-color: #31c0a5;
    border: #28c0bb 1px solid;
    border-radius: 50%;
    color: snow;
    line-height: 8em;
    box-shadow: 0 0 0 1px #D2973D inset, 0 0 0 10px white inset;
}

.information-section .work-direction .icon .icon-information span {
    font-size: 50px;
}

.information-section .work-direction .icon .icon-information:hover .picture-icon {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
    transition-duration: 3s;
}

.information-section .work-direction .icon .icon-information:hover .picture-icon-2 {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.information-section .work-direction .icon .icon-information:hover .picture-icon-3 {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.information-section .work-direction .icon .icon-information p {
    color: black;
    font: normal small-caps bold normal 20px serif;
    width: 100%;
    margin: 10px;
}

.information-section .work-direction .icon .icon-information p ::after {
    content: "-";
}

.information-section .work-direction .icon .icon-information .about-us {
    font: italic 17px fantasy;
    color: #7a7a7a;
    margin: 20px 15px;

}

.our-designer .img-designer {
    max-width: 50%;
    height: 508px;
    overflow: hidden;
    float: left;

}

.our-designer .img-designer img {
    background-size: cover;
}

.our-designer .about-designer {
    background-color: #f7f7f7;
    width: 50%;
    height: 508px;
    overflow: hidden;
    float: right;
}

.our-designer .about-designer p {
    font: normal small-caps bold normal 200% serif;
    text-align: center;
    margin: 100px auto;
}

.our-designer .about-designer .inform-about-designer {
    font: 17px italic;;
    text-align: center;
    color: #a2a2a2;
    margin-left: 100px;
    margin-right: 100px;
}

