* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: black 1px solid;
}

.information-section {
    width: 100%;
    background-color: snow;
}

.information-section .about-inform {
    width: 50%;
    margin: 0 auto;
}

.information-section .about-inform .title {
    font-size: 45px;
    font-weight: bold;
    padding-top: 70px;
    text-align: center;
}