* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background: url("../vira_img/1.jpg") center center no-repeat;
    background-size: cover;
}
.main-window {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-window .header-menu{
    width: 60%;
    height: 7%;
    border-bottom: #a2a2a2 1px solid;
    margin: 0 auto;
}
.main-window .header-menu .logo{
    padding-top: 30px;
    display: inline;
}
.main-window .header-menu .menu{
    display: inline;
    padding-left: 730px;
}
.main-window .intro-container{
    margin: 0 auto;
}
.main-window .intro-container .intro {
    text-align: center;
    padding-top: 360px;
    color: snow;
    font: 65px Dyuthi;
}
.main-window .intro-container .intro p+p {
    font: 40px "Chancery Uralic";
}
.main-window .intro-container .intro a{
    height: 20%;
    border: snow 1px solid;
    font: 18px small-caps;
    text-decoration: none;
    color: snow;
    padding: 13px 93px;
}
.main-window .intro-container .intro a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}