.text_style_container {
    width: 63%;
    margin: 0 auto;
}
/*ширина контейнера , внешний отступ*/
.text_style_container .text_style {
    display: block;
    padding: 10px;
    margin: 10px 0 10px 0;
    background: #563d7c0f;
    text-align: justify;
    border-radius: 9px;
    line-height: 1;
    color: #7952b3;
}
/*внутренний отступ,внешний отступ,цвет фона,положение тескта, щирина рамки,интервал между строками, цвет текста*/

.text_assignment {
    text-decoration: underline;
}
/*подчекнуть текст*/

.text_assignment_bold {
    font-weight: bold;
}
/*жирный*/