.left-pane {
    position: fixed;
    top: 0;
    left: -200px;
    height: 100%;
    background-color: #563d7c;
    color: #cbbde2;
    width: 230px;
    z-index: 2;
    transition: left 300ms ease-out;
}

.left-pane:hover {
    left: 0;
}

.left-pane .left-pane-content-wrapper {
    display: flex;
    height: 100%;
}


.left-pane .left-pane-content-wrapper .left-pane-content {
    width: 200px;
    height: 100%;
}

.left-pane .left-pane-content-wrapper a,
.left-pane .left-pane-content-wrapper a:visited {
    color: #cbbde2;
    text-decoration: none;
}

.left-pane .left-pane-content-wrapper a:hover {
    color: white;
}

.left-pane .left-pane-content-wrapper .left-pane-trigger {
    width: 29px;
    height: 100%;
    border-left: 1px solid #cbbde2;
    background-color: #9d81c7;
    color: white;
    display: flex;
    align-items: center;
}

.left-pane .left-pane-content-wrapper .left-pane-trigger:after {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    content: "";
    background: url(../img/arrows.png) no-repeat;
    background-position: -70px -4px;
    background-clip: border-box;
    background-size: 100px;
}

.left-pane:hover .left-pane-content-wrapper .left-pane-trigger:after {
    background-position: -70px -66px;
}
