.page-content {
    color: #7952b3;
    width: 1000px;
    margin: 50px auto auto;
    padding: 20px;
}

.text-important1 {
    text-decoration: underline;
}

.text-important2 {
    font-weight: bold;
}

.chapter {
    margin-bottom: 2em;
    padding: 10px;
    background-color: #563d7c0f;
    border-radius: 9px;
}

.chapter h3 {
    margin: 10px 0;
}

.chapter p,
.chapter ul,
.chapter ol {
    line-height: 1em;
    margin: 0 0 10px 15px;
}