/*
.direction{
    position: relative;
    left: 500px;
}
.direction > p{
    font-family: fantasy;
    font-size: 30px;
    color: black;
}
input{
    position: absolute;
    bottom: 629px;
    left: 500px;
    width: 600px;
    height: 40px;
    background: #eb5c13;
}
button{
    position: absolute;
    bottom: 631px;
    background: #7e1428;
    box-sizing: border-box;
    left: 1105px;
    width: 200px;
    height: 46px;
    color: honeydew;
    font-size: 25px;
}
.picture{
    position: absolute;
    display: block;
    width: 200px;
    height: 300px;


}*/
