.banner {
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(to top left, purple, crimson, orangered, gold);
    color: white;
}

.banner .title-of-page {
    font-size: 50px;
    margin-left: 140px;
}

.banner .title-of-page .title-highlight {
    color: #eb5c13;
}


.banner .navigation-links {

}

.banner .navigation-links .navigation-link {
    text-align: center;
    padding-top: 20px;
}

.banner .navigation-links .navigation-link a {
    display: block;
    padding: 10px 0 7px;
    position: relative;
    color: white;
}

.banner .navigation-links .navigation-link a:hover:after {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: blue;
}

.banner .navigation-links .navigation-link img {
    height: 32px;
}


.upload-form {
    margin: 20px auto;
    text-align: center;
    width: 70%;
}

.upload-form p {
    color: #9e2bc7;
    font-size: 30px;
    font-weight: bold;

}

.upload-form button.browse-button {
    position: absolute;
    top: 2px;
    right: 34px;
}
