* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.arctic-background {
    background: url("https://images11.popmeh.ru/upload/img_cache/d8a/d8a9cb86c11c6f031b17a22771ccbbfe_fitted_800x3000.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
}

button {
    position: absolute;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    height: 80px;
    width: 80px;
    background: linear-gradient(to top, #5cc4fe, #2610f1);
    border: 1px solid #5cc4fe;
}

.page_modal_wrapper {
    top: 100%;
    position: fixed;
    box-shadow: 11px 15px 63px 0px rgba(25, 68, 138, 1);
    margin: 6% 30%;
    height: 300px;
    width: 600px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition: 1s top;
}

.open {
    top: 0;
    position: fixed;
    box-shadow: 11px 15px 63px 0px rgba(25, 68, 138, 1);
    margin: 6% 30%;
    height: 300px;
    width: 600px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transition: top 1s;
}

.modal_title {
    border-bottom: 1px solid white;
    padding: 10px;
}

.button-close {
    float: right;
    border: 1px outset #6381db;
    box-shadow: 2px 14px 45px 7px rgba(64, 191, 255, 1);
    font-size: 17px;
    margin-top: -36px;
    margin-right: -4px;
}

.button-close:before {
    content: '\2693';
}

.modal-body {
    color: #2610f1;
    padding: 40px;
    font-size: 20px;
}