.left-panel {
    position: fixed; /*расположение контейнера, он зафиксирован и будет отображаться при скроле старницы*/
    height: 100%; /*высота контейнера*/
    width: 240px; /*ширина контейнера*/
    color: #fff5fe; /*цвет текста*/
    top: 0; /*положение верхнего края контейнера к верхнему краю родителя*/
    left: -200px;/* положение левого края контейнера относительго левого края родителя*/
    transition: left 100ms ease-out;  /*анимация, скорость анимации, тип анимации*/
}

.left-panel:hover {
    left: 0;/* положение левого края контейнера относительго левого края родителя*/
}

.left-panel .left-panel-content {
    position: absolute;/*положение контейнера относительно его родителя*/
    top: 0;/*положение верхнего края контейнера к верхнему краю родителя*/
    left: 0;/*положение левого края контейнера относительго левого края родителя*/
    width: 200px; /*ширина контейера*/
    height: 100%;/* высота контейнра*/
    background-color: navy; /*цвет фона*/
}

.left-panel .left-panel-arrow {
    position: absolute; /*расположение контейнера, относительно родителя*/
    top: 0;/*положение верхнего края контейнера к верхнему краю родителя*/
    right: 0;/*положение правого края контейна относительно правого края родителя*/
    width: 39px; /*ширина контейнера*/
    height: 100%;/*высота контейнера*/
    border-left: solid 1px white; /*рамка с левой стороны, цвет*/
    background-color: rgba(44, 128, 36, 0.67); /*цвет фона*/

}

.left-panel .left-panel-arrow .arrow {
    width: 26px;/*ширина контейнера*/
    height: 26px; /*высота контейнера*/
    /*left: 50%;*/
    /*margin-left: -14px;*/
    left: calc(50% - 14px);/*положение левого края элемента относитель левого края его родителя, половина его ширины минус относитель ширины контейнера*/
    top: calc(50% - 14px);/*положение верхнего края элемента относитель верхнего края его родителя, половина его ширины минус относитель ширины контейнера*/
    border: 1px dashed black;/* рамка,цвет*/
    position: absolute;/*положение контейнера относитель его родителя*/

    background: url(../img/arrows.png) no-repeat; /*заполнить фон картинкой, ссылка на картинку*/
    background-position: -70px -4px;/* положени картикни в контейнере*/
    background-clip: border-box;/* картинка выводится под границами*/
    background-size: 100px; /*размер изображение*/
}

.left-panel:hover .left-panel-arrow .arrow {
    background-position: -70px -66px; /*положение картинки в контейне при наведении*/
}