*{
    font-family: aakar;
}

.top-window {
    position: fixed;
    top: 0;
    right: -500px;
    width: 40%;
    height: 4%;
    padding: 5px;
    background: #a4eba7;
    border-bottom-left-radius: 7px;
    font-size: 25px;
    color: #eb5c13;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: ease-in 1s;
    cursor: help;
}

.top-window:hover {
    right: 0;
}

.link {
    position: fixed;
    width: 320px;
    height: 290px;
    margin: 196px;
    right: -198px;
    top: 335px;
    border: 7px #ff7241 double;
    border-bottom-left-radius: 20px;
}

.link iframe {
    width: 100%;
    height: 97%;
}

.left-window {
    display: inline-block;
    position: fixed;
    width: 310px;
    height: 100%;
    background: #3beb9c;
    left: -277px;
    top: 0;
    border-radius: 5px;
    transition: ease-in 1s;
    overflow: hidden;
}

.left-window:hover {
    left: 0;
}

a {
    text-decoration: none;
    color: #eb5c13;
}
.mini-left-window {
    position: absolute;
    height: 100%;
    width: 35px;
    background: #caebc2;
    right: 0;
}

.macro-left-window {
    position: relative;
    width: 33px;
    height: 43px;
    border: #9e2bc7 1px solid;
    bottom: -50%;
    background-image: url("q.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: -31px -34px;
    overflow: hidden;
}

.left-window:hover .mini-left-window .macro-left-window {
    background-position: -83px -34px;
}

.content-text {
    width: 65%;
    margin: 50px auto auto;
    padding: 20px;
}

.rich-content {
    background-color: #caebc2;
    color: chocolate;
    border-style: outset;
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    text-align: justify;
    font-size: 13px;
}

.thick-text {
    font-weight: bold;
}

.underscore-text {
    text-decoration: underline;
}