@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-content-box {
    height: 100vh;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
}

.main-content-box .information-board {
    width: 45%;
    position: relative;
}

.main-content-box .information-board .icon {
    position: absolute;
    top: 0;
    right: 0;
}

.main-content-box .information-board .icon img {
    width: 40px;
}

.main-content-box .information-board .heading {
    font: 150px bold;
    margin: calc(50% - 75px) auto auto;
    padding-left: 30px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 27px;

}

.main-content-box .information-board .travel-text {
    font: 19px "Varela Round";
    padding: 20px 0 20px 30px;
    line-height: 35px;
}

.main-content-box .picture-section {
    position: relative;
    width: 55%;
}

.main-content-box .picture-section .main-picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 65%;
}

.main-content-box .picture-section .main-picture img {
    max-width: 100%;
}


.main-content-box .section-links {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 35%;
    background-color: #f9e48d;
}

.main-content-box .section-links .link-properties {
    margin: 40px auto;
    width: 70%;
}

.main-content-box .section-links .link-properties a {
    color: #9e2bc7;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}


.main-content-box .section-fact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    padding: 30px 20px 0 20px;
    height: 45%;
    background-color: rgba(0, 0, 0, 0.42);
    z-index:100;
}

.main-content-box .section-fact {

}


.main-content-box .section-fact .teg {
    text-align: left;
    color: white;
    font-size: 19px;
    margin-top: 15px
}
