body {
    margin: 0;
}

@font-face {
    font-family: font;
    src: url("../font/font.ttf");


}

@font-face {
    font-family: jargon;
    src: url("../font/jargon.ttf");
}

.section {
    white-space: nowrap;
    position: relative;
}

.section > .section-item {


}

.basic-information, .section-img {
    display: inline-block;
    overflow: hidden;
}

.basic-information {
    width: 40%;
    height: 100%;
    padding-left: 15px;
}

.basic-information h1 {
    font-size: 100px;
    font-family: font, fantasy;
    padding-bottom: 140px;
}

.basic-information p {
    font-family: jargon, fantasy;
    font-size: 20px;
    text-align: justify;
    padding-right: 105px;
    white-space: normal;
}

.section-img {
    position: relative;
    width: 58%;
}

#picture-properties img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    border: 0;
}

.section-link {
    float: left;
    width: 50%;
    height: 200px;
    background-color: #f9e48d;
    margin-left: 50%;
}

#section-lik-more-text {
    display: inline-block;
    font-weight: bold;
    font-family: arial, fantasy;
    margin: 87px;
}

#section-lik-text-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding-top: 108px;
    margin-left: -274px;
}

.photo-gallery {
    position: relative;
    float: left;
    width: 405px;
    height: 230px;
    background-color: black;
    z-index: 9999;
}


